:host {
  display: block;
  overflow-x: auto;
}

:host ::ng-deep .mat-mdc-paginator-container {
  justify-content: center;
}

:host ::ng-deep .mat-mdc-icon-button {
  border-radius: 50%;
  border: 1px solid var(--mat-sys-outline-variant);
  margin: 0 2px;
}

table {
  border: 0;
}

th.mat-mdc-header-cell {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
}
