<main class="content-consulta">
  <app-filtro-lotes (pesquisar)="onPesquisar($event)"></app-filtro-lotes>

  @if (carregando()) {
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  }
  @if (erro()) {
    <div class="erro">{{ erro() }}</div>
  }

  <div class="table">
    <div class="barra-acoes">
      <button mat-stroked-button [disabled]="!podeConfirmarEnviar()">CONFIRMAR</button>
      <button mat-stroked-button [disabled]="!podeConfirmarEnviar()">ENVIAR</button>
      <button mat-stroked-button [disabled]="!podeVisualizarJustificativa()">
        VISUALIZAR JUSTIFICATIVA
      </button>
      <button mat-stroked-button matButton="filled" (click)="onIncluir()" color="primary">
        INCLUIR
      </button>
      <button mat-stroked-button [disabled]="!podeAlterarExcluirVisualizar()">ALTERAR</button>
      <button mat-stroked-button [disabled]="!podeAlterarExcluirVisualizar()">EXCLUIR</button>
      <button mat-stroked-button [disabled]="!podeAlterarExcluirVisualizar()">VISUALIZAR</button>
    </div>
    <app-tabela-lotes
      [lotes]="lotes()"
      (selectionChange)="onSelectionChange($event)"
    ></app-tabela-lotes>
  </div>
</main>
