@use './theme-colors.scss' as DStheme;
@use '@angular/material' as mat;

:root {
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
}

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: DStheme.$primary-palette,
        tertiary: DStheme.$tertiary-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
}
